<div class="login-fail-container">
  <h1>ログイン失敗！！</h1>
  <p>新規登録してね</p>

  <%= link_to "新規登録", signup_path, class: "signup-btn" %>
</div>

<%= link_to "戻る", login_path, class: "back-btn" %>
>>>>>>> X
