/* ===== ログインページ全体のスコープ ===== */
.login-page {
  font-family: "Helvetica", "Arial", sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
}

/* ===== ログインボックス ===== */
.login-box {
  width: 350px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  border: 1px solid #ccc;
}

/* タイトル */
.login-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

/* 入力欄 */
.login-form input[type="text"],
.login-form input[type="password"] {
  width: 50%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #999;
  margin-bottom: 15px;
  font-size: 14px;
}

/* ボタン */
.login-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.login-btn:hover,
.signup-btn:hover {
  background: #eaeaea;
}

/* アイコン表示エリアの例 */
.icon-box {
  margin-bottom: 15px;
  font-size: 14px;
}

.login-btn,
.signup-btn,
.admin-btn,
.back-btn,
.submit-btn{
  border: 1px solid #333;
  background: white;
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  color: #222;
  font-size: 14px;
  cursor: pointer;
  justify-content: center;
}

.admin-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.back-btn {
  position: fixed;
  top: 20px;
  left: 20px;
}

.login-fail-container {
  text-align: center;
  margin-top: 80px;
}